@model List<CityExplorer.Models.UserLandmarkList>

<div class="tbl-container">
    <h2>Publiczne listy zabytków</h2>
    @foreach (var list in Model.OrderByDescending(l => l.CreatedAt))
    {
        <div class="public-list">
            <h3>@list.Name (@list.CreatedAt.ToString("dd-MM-yyyy HH:mm"))</h3>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Zdjęcie</th>
                        <th>Nazwa</th>
                        <th>Kategoria</th>
                        <th>Godziny otwarcia</th>
                        <th>Czas zwiedzania</th>
                        <th>Miasto</th>
                    </tr>
                </thead>
                @foreach (var item in list.UserLandmarks)
                {
                    <tr>
                        <td><img style="height:90px;width:90px" src="/Uploads/@item.Landmark.ImagePath" /></td>
                        <td>@item.Landmark.Name</td>
                        <td>@item.Landmark.CategoryNames</td>
                        <td>@item.Landmark.OpeningHours</td>
                        <td>@item.Landmark.TourDuration</td>
                        <td>@item.Landmark.City?.Name</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>