@model List<CityExplorer.Models.UserRoute>

<div class="tbl-container">
    <h2>Twoje trasy</h2>
    @foreach (var route in Model)
    {
        <h3>Trasa @route.Id</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Zdjęcie</th>
                    <th>Nazwa</th>
                    <th>Kategoria</th>
                    <th>Godziny otwarcia</th>
                    <th>Czas zwiedzania</th>
                    <th>Miasto</th>
                </tr>
            </thead>
            @foreach (var landmark in route.Landmarks)
            {
                <tr>
                    <td><img style="height:90px;width:90px" src="/Uploads/@landmark.Landmark.ImagePath" /></td>
                    <td>@landmark.Landmark.Name</td>
                    <td>@landmark.Landmark.CategoryNames</td>
                    <td>@landmark.Landmark.OpeningHours</td>
                    <td>@landmark.Landmark.TourDuration</td>
                    <td>@landmark.Landmark.Country</td>
                </tr>
            }
        </table>
        <form asp-action="DeleteUserRoute" method="post">
            <input type="hidden" name="routeId" value="@route.Id" />
            <button type="submit" class="btn btn-danger">Usuń trasę</button>
        </form>
    }
</div>