@model CityExplorer.Models.UserLandmarkList



<div class="tbl-container mx-10 mt-12">
    @if (Model.UserLandmarks.Count == 0)
    {
        <div class="flex items-center justify-center h-screen">
            <div class="bg-white shadow-lg rounded-lg p-8 w-96">
                <h2 class="text-blue-500 text-center text-3xl font-semibold mb-4">Twoja lista jest pusta!</h2>
                <p class="text-gray-700 text-center">Aby utworzyć nową listę prywatną, dodaj zabytek z ogólnej listy zabytków.</p>
                <p class="text-gray-700 text-center mt-4">Możesz to zrobić <a href="/Landmark/LandmarkList" class="text-blue-500 underline">tutaj</a>.</p>
            </div>
        </div>
    }
    else
    {
        <div class="flex flex-col">
            <form action="SaveUserList" method="post" class="flex mb-8">
                <div class="relative flex">
                    <div class="relative flex">
                        <label for="listName" class="text-sm absolute -top-6">Nazwa pod którą chcesz zapisać listę:</label>
                        <input type="text" class="px-4 py-2 rounded-full pl-12 border border-gray-300 w-64" id="listName" name="name" placeholder="Nazwa listy" required>
                        <label for="listDescription" class="text-sm absolute -top-6">Opis trasy:</label>
                        <input type="text" class="px-4 py-2 rounded-full pl-12 border border-gray-300 w-64" id="listDescription" name="description" placeholder="Opis trasy" required>
                        <button type="submit" class="px-4 py-2 btn-green ml-4 h-full">Zapisz listę</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="overflow-x-auto border-t-2">
            <table class="table-auto w-full rounded-lg">
                <thead>
                    <tr>
                        <th class="px-4 py-2 border-b-2 border-gray-300">Zdjęcie</th>
                        <th class="px-4 py-2 border-b-2 border-gray-300">Nazwa</th>
                        <th class="px-4 py-2 border-b-2 border-gray-300">Kategoria</th>
                        <th class="px-4 py-2 border-b-2 border-gray-300">Godziny otwarcia</th>
                        <th class="px-4 py-2 border-b-2 border-gray-300">Czas zwiedzania</th>
                        <th class="px-4 py-2 border-b-2 border-gray-300">Miasto</th>
                        <th class="px-4 py-2 border-b-2 border-gray-300">Akcja</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserLandmarks)
                    {
                        <tr class="hover:bg-gray-300">
                            <td class="px-4 py-2 border-b border-gray-300">
                                <img style="height:90px;width:90px" src="/Uploads/@item.Landmark.ImagePath" alt="Landmark Image">
                            </td>
                            <td class="px-4 py-2 border-b border-gray-300">@item.Landmark.Name</td>
                            <td class="px-4 py-2 border-b border-gray-300">@item.Landmark.CategoryList</td>
                            <td class="px-4 py-2 border-b border-gray-300">@item.Landmark.OpeningHours</td>
                            <td class="px-4 py-2 border-b border-gray-300">@item.Landmark.TourDuration</td>
                            <td class="px-4 py-2 border-b border-gray-300">@item.Landmark.City?.Name</td>
                            <td class="px-4 py-2 border-b border-gray-300">
                                <form asp-action="RemoveFromUserLandmarks" asp-route-id="@item.LandmarkId" method="post">
                                    <button type="submit" class="px-4 py-2 btn-red">Usuń</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-primary bg-secondary p-4 rounded border">
            <div id="mapid" style="height: 400px; width: 100%;"></div>
        </div>
    }
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
<script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

@section Scripts {
    <script>
        @if (Model.UserLandmarks.Count > 0)
        {
            <text>
            var map = L.map('mapid').setView([@Model.UserLandmarks[0].Landmark.Latitude, @Model.UserLandmarks[0].Landmark.Longitude], 13);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
            }).addTo(map);
            var waypoints = [];
                @foreach (var item in Model.UserLandmarks)
                {
                    <text>
                var latLng = L.latLng(@item.Landmark.Latitude, @item.Landmark.Longitude);
                L.marker(latLng, { draggable: false }).addTo(map)  // Zmieniono 'dragging' na 'draggable'
                    .bindPopup('Zabytek: @item.Landmark.Name');
                waypoints.push(latLng);
                    </text>
                }
                                                    // Inicjalizacja i dodanie kontrolki planowania trasy do mapy
                                                    var control = L.Routing.control({
                waypoints: waypoints,
                routeWhileDragging: false,  // Wyłączono tworzenie nowych punktów orientacyjnych poprzez przesunięcie
                addWaypoints: false,  // Wyłączono dodawanie nowych punktów orientacyjnych
                router: L.Routing.osrmv1({
                    serviceUrl: 'https://router.project-osrm.org/route/v1',
                    profile: 'foot',  // Używamy profilu 'foot' dla tras pieszych
                }),
                show: true,
                edit: false  // Zablokowanie edycji trasy
            }).addTo(map);
            </text>
        }
    </script>
}


